#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:90%;
}
body{
  background:#fff;
  place-items: flex-start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.formwrp{
  display:flex;
  justify-content:center;
  margin:0 auto;
}
form{
  width:45vw;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.carddiv{
  margin-top:5%;
  border:1px solid #000;
  box-shadow: 0px 0px 2px 2px #0000002e;
  cursor:pointer;
}
.nvs{
  visibility:hidden;
  overflow:hidden;
}
.carddiv .MuiCardContent-root{
padding-bottom: 24px;
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left:3%;
}
.carddiv .MuiCardContent-root div{
  font-size:1rem;
}
.carddiv .MuiCardContent-root span{
  font-weight:600;
}
.cardImg{
  text-align:right;
}
.cardImg img{
  box-shadow:0px 0px 1px 1px #0000002e;
}
input[type="text"]{
  width:100%;
  height:2rem;
  padding-left:0.5vw;
}
select{
  width:15rem;
  height:2rem;
  padding-left:0.5vw;
}
#subbtn{
  padding:1% 2%;
  margin:0 0 0 2%;
  position:relative;
  bottom:-0.2rem;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* background: rgb(0 0 0 / 41%); */
  background:transparent;
  z-index: 1;
}

.searchresults {
  /* width: 65%; */
  margin: 1vw auto 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  /* grid-template-rows: repeat(auto-fill, 1.5%); */
  grid-row-gap: .5em;
  grid-column-gap: 3%;
  grid-auto-flow: row;
}
.card1 span{
  text-align:left;
  width: 18vw;
}

.card1 span p{
  margin:0;
}

.carddiv > div{
  height:100%;
  max-width:unset;
}
.carddiv > div > div{
  padding-bottom:unset !important;
  margin-left:unset !important;
  /* flex-direction:row !important; */
}
.carddiv > div > div > div{
  width:50%;
}
.carddiv > div > div > div > div{
  display:flex;
}
.carddiv label{
  min-width:8vw;
  text-align:left;
  color: #496dae;
}
.cardTxt{
  margin-top: 5%;
}
.cardTxt > div:nth-of-type(1) span {
  display: block;
  min-width: 9vw;
}
.cardTxt > div:nth-of-type(4) span {
  display: block;
  min-width: 13vw;
  overflow-x: hidden;
}
.cardTxt > div:nth-of-type(4) span > p {
  color: #00009f;
}
::-webkit-scrollbar-track {
  border: 1px solid #d3c4c4;
  padding: 2px 0;
  background-color: #d3c4c4;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
.cardTxt > div:nth-of-type(4) section {
  max-height: 6.5vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid #d3c4c4; */
  width: 9vw;
}
.cardTxt > div:last-child p span{
  display:inline-block;
  width:100%;
}
.cardTxt > div:last-child label p{
  width:80%;
  margin:0;
}
.cardTxt > div:last-child span p{
  min-width: 9vw;
  font-size: 0.9rem;
}

.carddiv img {
  right: 21%;
  height: 10vw;
  width: 17vw;
}
.countrydetailswrp{
  position: fixed;
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  background:#00000059;
  box-shadow: 0px 0px 2px 2px #0000002e;
}

.countrydetails{
  border:1px solid #000;
  width:50%;
  min-height:50%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-top: -1rem;
  padding-bottom:5%;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index:11;
  background:#fff;
}
.countrydetails h4{
  margin-left:0;
  margin-bottom:0;
  font-size:2vw;
}
.countrydetails img{
  position:absolute;
  top:0;
  right:0;
  box-shadow:0px 0px 1px 1px #0000002e;
  width:25vw;
  /* min-width:20rem; */
}
.countrydetails p{
  display:inline;
  margin:0;
}
.countrydetails > div{
  width:100%;
  text-align: left;
  margin-left:5%;
}
.countrydetails label{
  display: inline-block;
  width: 15% !important;
  color: #4e78c2;
}
.countrydetails u{
  display: block;
  margin-bottom:2%;
}
.closebtn{
  position: absolute;
  top: -3vw;
  right: 0;
  border-radius:none !important;
  font-size:2vw;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 0px 0px 2px 2px #0000002e;
  padding:1vw;
  outline:none;
  border:none;
}
.closebtn span{
  display:inline-block;
  margin-top:-1vw;
}
.countrydetails u{
  color: #00067c;
}
hr{
  color: #000;
  border-top: 1px solid #000;
  width: 92%;
  height: 1px;
  margin-left: 0;
  margin-right: 4%;
}
hr:nth-of-type(1),hr:nth-of-type(2){
  width:20vw;
}
.lnginnerdiv{
  margin-top:-4%;
  margin-left:15%;
}

.lnginnerdiv > span{
  text-transform: capitalize;
}
.lnginnerdiv > span > span{
  text-transform: none;
}
#loadmorediv{
  display:flex;
  align-items:center;
  justify-content:center;
  width:60%;
  margin:3% auto 0 auto;
}
#loadmorediv span{  
  position:absolute;
  right:20%;
}
.loadMoreData {
  display: flex;
  align-items: center;
}
.loadMoreData span{
  color:#d3b8b8;
  font-size: 80%;
  margin-left:0.5vw;
  pointer-events:none;
}
button[disabled], button[disabled] span{
  color:#7a5858;
}
.nomoredata{
  margin-top:2%;
  font-weight:bold;
}
.cpe,.cpe input{
  cursor:pointer;
}
.cpe p{
  display:inline;
  margin:0;
}

.lngdetailsdiv{
  display:flex;
}







@media only screen and (max-width: 1100px) {
  select{
    width:100%;
  }
  .countrydetails label {
    width: 30% !important;
  }
  .countrydetails h4{
    margin-bottom:15%;
    font-size:2.3vw;
  }
  hr:nth-of-type(1),hr:nth-of-type(2){
    width:92%;
  }
  .searchresults {
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
  }
  .carddiv label {
    min-width: 17vw;
  }
  .cardTxt > div:nth-of-type(4) section {
    width: 13vw;
  }
}
@media only screen and (max-width: 782px) {
  select{
    width:100%;
  }
  /* .carddiv > div > div{
    flex-direction: column-reverse !important;
  } */
  .carddiv > div > div > div {
    width: unset;
    margin-bottom: 5%;
  }
  .carddiv > div > div .cardTxt {
    width:100%;
  }
  .carddiv label {
    width: 40%;
  }
  .countrydetails label {
    width: 40% !important;
  }
  .searchresults {
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (max-width: 782px) {
.carddiv > div > div > div > div {
  display: flex;
}
.carddiv img {
  right: 21%;
  height: 14vw;
  width: auto;
}
.carddiv label {
  width: 40%;
  display: block;
  text-align: left;
}
.carddiv > div > div .cardTxt {
  width: 40%;
  width: 100%;
  display: block;
  text-align: left;
}
.closebtn{
  top: -7vw;
  font-size:3vw;
  padding:2vw;
  border-radius:unset;
}
.countrydetails h4 {
  font-size: 2.8vw;
}
#loadmorediv{
  display:block;
}
.loadMoreData{
  margin:auto;
}
#loadmorediv span{
  position:unset;
}
}
@media only screen and (max-width: 420px) {
  .carddiv > div > div > div > div {
    display: block;
}
  .cardTxt > div{
    margin-bottom:5%;
    line-height: 100%;
  }
  .cardTxt > div:nth-of-type(1) span {
    width: 100%;
}
.cardTxt label {
  width: 100%;
  margin-bottom:2vw;
}
.cardTxt > div:nth-of-type(4) span {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.cardTxt > div:nth-of-type(4) section {
  width: 60%;
}
  #subbtn{
    font-size: 3.5vw;
      padding: 3% 10%;
  }
  .countrydetails div{
    overflow: auto;
    max-height: 500px;
  }
  .countrydetails label {
    width: 100% !important;
    color:light-grey !important;
    color: #655656;
    font-size: 4vw !important;
  }
  .countrydetails h4 {
    margin-bottom: 5%;
    font-size: 5vw;
    margin-top: 35%;
  }
  .countrydetails img {
    position: unset;
}
  .closebtn{
    font-size: 4vw;
    top: -8vw;
  }
}